/* Navigation Section */
#navbar{
    flex-direction: column;
 }
 
 #navbar li a{
     font-size: 0.9rem;
     padding: 0px 7px;
     padding-bottom: 8px;
 }
 .right-item{
    margin-left: 0px;  /*flexbox er j div e lagano hobe sei div right e chole jaabe*/
  }
 
 
 /* Home Section */
 #home{
     padding: 3px 69px;
     height: 300px;
 }
 #home::before{
     height: 390px;
 }
 #home p{
     font-size: 1rem;
 }
 
 
 
 /* Services Section*/

 #services-container h1{
    margin-top: 10px;
}

 #services{
     flex-direction: column;
     margin: 5px; 
 }

 
 #services .box{
    border: 2px solid brown;
    padding: 17px 24px;
    margin: 2px 27px;
    border-radius: 28px;
    background-color: rgba(213, 236, 228, 0.588);
    margin-bottom: 20px;
}
#services .box img {
    height: 110px;
    display: flex;
    margin:auto;   /*margin auto tokhon ei karbe jokhn display flex hobe...*/
}
 /* Client Section*/
 #clients{
    flex-wrap: wrap;
 }
 #clients img{
    height: 70px;
}
.client-item{
    padding: 10px;
}
#client-section{
    height: 250px;
    position: relative;
}

 /* Contact Section */
 #contact-box input,#contact-box textarea{
    padding: 0.5rem;
    font-size: 0.8rem;
}
#contact-box label{
 font-size: 0.85rem;
}
#contact-box form{
    width: 60%;
}

 /* Footer Section  */
 
 /* Utility Class */
 
 .h-primary {
     font-size: 1.5rem;
     padding: 10px;
     font-family: "Bree Serif", serif;
 }
 
 .h-secondary {
     font-size: 1rem;
     padding: 12px;
     font-family: "Bree Serif", serif;
 }
 .btn{
    padding: 3px 6px;
    margin: 17px;
    border-radius: 13px;
    font-size: 0.7rem;
 }
 
 